<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Feedback - LearnZone</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Add Feedback</h1>
        </div>
        <form th:action="@{'/courses/' + ${course.courseId} + '/feedback/add'}" th:object="${feedback}"
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Title: </label>
                <div class="col-8">
                    <input type="text" th:field="*{feedbackTitle}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Message: </label>
                <div class="col-8">
                    <input type="text" th:field="*{feedbackMessage}" class="form-control" required />
                </div>
            </div>
             
            <div>
                <button type="submit" class="btn btn-primary">Add Feedback</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>